@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Source Sans 3", sans-serif;
}
.body {
  background-color: #f8f9fb;
}
header {
  width: 100%;
  border-bottom: 1px solid rgba(10, 37, 64, 0.32);
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

img {
  width: 24px;
  height: 24px;
}
.notification {
  display: flex;
  flex-direction: row;
  gap: 10px;
  background-color: white;
}
.badge {
  width: 20px;
  height: 20px;
  background-color: #f33541;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  color: white;
  position: absolute;
  top: 1px;
  right: 5px;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  gap: 20px;
  background-color: #f8f9fb;
}
.title h1 {
  color: #103B66;
}
.title h6 {
  font-size: 20px;
  font-weight: 400;
  color: #103B66;
}
.text {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  height: 40px;
  width: 60%;
  background-color: white;
  border-bottom: 1px solid #00000036;
  font-weight: 500;
}
.title h6 a {
  color:aqua;
  text-decoration: none;
}
.boxes {
  background-color: #f8f9fb;
  width: 100%;
  margin-left: 270px;
}
.box-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.boxone {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.box {
  width: 250px;
  height: 250px;
  background-color: #ffffff;
  padding: 20px;
  border-bottom: 1px solid #103b6634;
  
}
.boximage img {
  margin-top: 50px;
  margin-left: 50px;
  width: 100px;
  height: 100px;
}
.box h5 {
  margin-left: 30px;
  color: #103B66;
}
 h2{
    color: #103B66;
    margin-top: 10px;
    margin-bottom: 5px;
}
.Advanced{
    display: flex;
    flex-direction: row;
    height: 70px;
}

.paragraph{
    display: flex;
    margin-left: 50px;
    margin-top: 15px;
}
.box .star{
    margin-left: 200px;
}